doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml' xmlns:v='urn:schemas-microsoft-com:vml' xmlns:o='urn:schemas-microsoft-com:office:office')
  head
    meta(http-equiv='content-type' content='text/html; charset=utf-8')
    // [if !mso] <!
    meta(http-equiv='x-ua-compatible' content='IE=edge')
    // <![endif]
    meta(name='viewport' content='initial-scale=1.0')
    meta(name='x-apple-disable-message-reformatting')
    title
    //if mso
      style.
        body,span,td,table,div,h1,h2,h3,h4,h5,h6,p,ul,li,a,strong {
        font-family:Arial,Helvetica,sans-serif !important;
        }
    //if (gte mso 9)|(IE)
      style.
        table {
        border-collapse:collapse;
        border-spacing:0;
        mso-line-height-rule:exactly;
        mso-margin-bottom-alt:0;
        mso-margin-top-alt:0;
        mso-table-lspace:0;
        mso-table-rspace:0;
        }
    style(type='text/css').
      #outlook a{
      padding:0;
      }
      body{
      width:100% !important;
      -webkit-text-size-adjust:100%;
      -ms-text-size-adjust:100%;
      margin:0;
      padding:0;
      }
      .ExternalClass{
      width:100%;
      }
      .ExternalClass,.ExternalClass p,.ExternalClass span,.ExternalClass font,.ExternalClass td,.ExternalClass div{
      line-height:100%;
      }
      #backgroundTable{
      margin:0;
      padding:0;
      width:100% !important;
      line-height:100% !important;
      }
      img{
      outline:none;
      text-decoration:none;
      -ms-interpolation-mode:bicubic;
      max-width:100%;
      }
      a img{
      border:none;
      }
      .image_fix{
      display:block;
      }
      p{
      margin:1em 0;
      }
      table td{
      border-collapse:collapse;
      }
      table{
      border-collapse:collapse;
      mso-table-lspace:0;
      mso-table-rspace:0;
      }
      a{
      color:inherit;
      }
      strong{
      font-weight:bold;
      }
      body,span,td,table,div,h1,h2,h3,h4,h5,h6,p,ul,li,a,strong{
      font-family:'Inter',Arial,Helvetica,sans-serif;
      }
      #backgroundTable{
      background-color:#171414;
      }
      .wrapper{
      width:100%;
      table-layout:fixed;
      -webkit-text-size-adjust:100%;
      -ms-text-size-adjust:100%;
      }
      .container{
      max-width:600px;
      margin:0 auto;
      }
      body,.container{
      background-color:#ffffff;
      }

      .mobile{
      overflow:visible !important;
      max-height:none !important;
      display:block !important;
      }
     
      @media screen and (max-width: 599px){
      .container{
      width:100% !important;
      max-width:100% !important;
      }
      }	@media screen and (max-width: 599px){
      .img-full{
      width:100% !important;
      }
      }	@media screen and (max-width: 599px){
      .desktop{
      display:none !important;
      }
      }	@media screen and (max-width: 599px){
      .logo{
      width:120px;
      }
      }		.mobile{
      display:none;
      max-height:0;
      overflow:hidden;
      }
      @media screen and (min-width: 600px){
      .show-mobile{
      max-height:0 !important;
      height:0 !important;
      width:0;
      display:none;
      mso-hide:all;
      overflow:hidden;
      font-size:0;
      float:none;
      visibility:hidden;
      border:none;
      }
      }	@media screen and (max-width: 599px){
      .show-desktop{
      width:280px !important;
      }
      }	@media screen and (max-width: 599px){
      .pr-0{
      padding-right:0 !important;
      }
      }	@media screen and (max-width: 599px){
      .p-white-box{
      padding-bottom:40px !important;
      padding-top:40px !important;
      }
      }	@media screen and (max-width: 599px){
      .show-desktop-inner{
      width:240px !important;
      }
      }	@media screen and (max-width: 599px){
      .title{
      font-size:24px !important;
      }
      }	@media screen and (max-width: 599px){
      .subtitle{
      font-size:14px !important;
      }
      }	@media screen and (max-width: 599px){
      .big-btn{
      width:200px;
      }
      }	@media screen and (max-width: 599px){
      .text-center-mobile{
      text-align:center !important;
      }
      }

      table.plan_bg {
        background: linear-gradient(284.01deg, #443D3D 0.35%, #9E9696 93.42%), #262222;
      }

      table.plan_bg tbody td {
        color: #FFFFFF;
      }

      table.plan_bg tbody td.heading {
        font-style: normal;
        font-weight: 950;
        font-size: 24px;
        line-height: 24px;
        letter-spacing: 0.5em;
        text-transform: uppercase;
        padding: 30px 45px;
      }
      
      table.plan_bg tbody th {
        text-align:left;
        padding: 15px 45px;
      }

      table.plan_bg tfoot td {
        text-align:left;
        padding: 15px 45px;
        background: linear-gradient(0deg, #131111, #131111), #262222;
      }

      table.plan_bg tfoot td p {
        font-size: 10px;
        margin: 2px;
      }

      table.plan_bg tfoot td p span {
        color: #EBBF54;
        margin-right: 5px;
      }

      table.plan_bg tbody th span {
        color: #EBBF54;
        margin-left: 5px;
      }

      table.show-desktop tr.image__sections {
        padding: 15px 45px;
        height:476px;
        background: #262222;
        width:508px;
      }

      table.show-desktop tr.image__sections .text-box{
        font-style: normal;
        font-weight: 950;
        font-size: 25.9691px;
        line-height: 131.1%;
        letter-spacing: 0.5em;
        text-transform: uppercase;
        color: #FFFFFF;
      }

      table.show-desktop tr.image__sections .text-btn{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 60px;
        background: #D1A12C;
        height: 50px;
        font-style: normal;
        font-weight: 950;
        font-size: 13px;
        line-height: 121.1%;
        letter-spacing: 0.3em;
        text-transform: uppercase;
        color: #FFFFFF;
        outline:none;
        border:none;
        margin-top:29px;
      }

      table.show-desktop tr.image__sections .text-conent{
        padding: 0px 92px;
        padding-right:170px;
      }
      table.show-desktop tr.image__sections .yellow-box{
        position: absolute;
        width: 343px;
        height: 355px;
        right: 570px;
        top: 215px;
        border: 3px solid #D1A12C;
        box-sizing: border-box;
      }

       table.show-desktop tr.image__sections .image-box{
        position: absolute;
        width: 251px;
        height: 355px;
        left: 826px;
        top: 247px;
        box-sizing: border-box;
      }

      table.email_top__header  td, table.email_top__header img {
        margin: 0 !im;
        padding: 0;
        line-height:0;
        font-size:0;
      }

      

  body.wrapper(style='text-align: center;')
    table#backgroundTable(width='100%' cellspacing='0' cellpadding='0' border='0' bgcolor='#171414')
      tbody
        tr
          td(style='padding-top:60px;padding-bottom:0px;')
            table.show-desktop(width='600' cellspacing='0' cellpadding='0' border='0' bgcolor='#171414' align='center')
              tbody
                tr
                  td(style='padding-bottom:30px;padding-top:0px;' align='center')
                    table.show-desktop(width='299' cellspacing='0' cellpadding='0' border='0' bgcolor='#171414' align='left')
                      tbody
                        tr
                          td.text-center-mobile(style='padding-bottom:20px;padding-top:0px;' align='left')
                            a(href='https://myelamant.com/' target='_blank')
                              img(src='https://mcusercontent.com/c319174c150aaffcb8f028843/images/d830ea79-ce1d-4fe3-b700-40b428ae024c.png' alt='Logo' width='177')
        tr
          td(align='center')
            table.show-desktop(width='602' cellspacing='0' cellpadding='0' border='0' bgcolor='#262222' align='center')
              tbody
                tr
                  td
                    table.email_top__header
                      tr
                        td(colspan="3" valign="top")
                          img(src="https://map.myelamant.com/assets/images/invoice_pdf_images/1.jpg")
                      tr
                        td(colspan="3" valign="top")
                          img(src="https://map.myelamant.com/assets/images/invoice_pdf_images/2.jpg")
                      tr
                        td(valign="top")
                          img(src="https://map.myelamant.com/assets/images/invoice_pdf_images/3.jpg")
                        td(valign="top")
                          img(src="https://map.myelamant.com/assets/images/invoice_pdf_images/4.jpg")
                        td(valign="top")
                          img(src="https://map.myelamant.com/assets/images/invoice_pdf_images/5.jpg")
                      tr
                        td(colspan="3" valign="top")
                          img(src="https://map.myelamant.com/assets/images/invoice_pdf_images/6.jpg")                         
                tr
                  td.p-white-box(style='padding-bottom:0px;padding-top:50px;' align='center')
                    table.show-desktop-inner(width='500' cellspacing='0' cellpadding='0' border='0' bgcolor='#262222' align='center')
                      tbody
                        tr
                          td(style='padding-bottom:10px;' align='center')
                            table.show-desktop-inner(width='440' cellspacing='0' cellpadding='0' border='0' bgcolor='#262222' align='center')
                              tbody
                                tr
                                  td(style="font-family:Inter, 'Helvetica Neue', Helvetica, Arial, sans-serif;text-align:left;color:#ffffff;font-size:18px;font-weight:400;line-height:110%;padding-top:5px;padding-bottom:20px;" align='center')
                                    | Hi #{Name},
                                tr
                                  td(style="font-family:Inter, 'Helvetica Neue', Helvetica, Arial, sans-serif;color:#ffffff;font-size:16px;letter-spacing:1px;padding-bottom:10px;line-height:300%;font-weight:400;" align='left')
                                    | Welcome to the premium membership of MAP. We are happy to have you on board. Following are the details of your plan.
                        tr
                          td(style='padding-bottom:10px;' align='center')
                            table.show-desktop-inner.plan_bg(width='440' cellspacing='0' cellpadding='0' border='0' bgcolor='#262222' align='center')
                              tbody
                                tr
                                  td.heading(colspan="8") 
                                    | BASE PLAN
                                tr
                                  th  Plan Type
                                  td  #{PlanDetails.PlanType}
                                tr
                                  th  Price (in USD)
                                  td  #{PlanDetails.Price}
                                tr
                                  th  Validity (in Days)
                                    span ^
                                  td  #{PlanDetails.Validity}
                                tr
                                  th  Number of Coupons
                                  td  #{PlanDetails.NumberOfCoupons}
                                tr
                                  th  Preferred store Status
                                  td  #{PlanDetails.PreferredStoreStatus}
                                tr
                                  th  Maximum Revenue
                                  td  #{PlanDetails.MaximumRevenue}
                                tr
                                  th  Access to e-commerce
                                    span #
                                  td  #{PlanDetails.AccessToECommerce}
                                tr
                                  th  Priority Live Support
                                    span +
                                  td  #{PlanDetails.PriorityLiveSupport}
                              tfoot
                                tr
                                  td(colspan="2")
                                    p 
                                      span ^ 
                                      | Maximum Duration. Could be lesser if revenue target is achieved
                                    p 
                                      span # 
                                      | Work in Progress
                                    p 
                                      span +
                                      | Everyone gets support
        tr
          td(align='center')
            table.show-desktop(width='600' cellspacing='0' cellpadding='0' border='0' bgcolor='#171414' align='center')
              tbody
                tr
                  td(align='center')
                    table.show-desktop-inner(width='500' cellspacing='0' cellpadding='0' border='0' bgcolor='#171414' align='center')
                      tbody
                        tr
                          td.text-center-mobile(style="font-family:Inter, 'Helvetica Neue', Helvetica, Arial, sans-serif;text-align:center;color:#FB2645;font-size:14px;font-weight:500;line-height:110%;padding-top:40px;padding-bottom:10px;text-transform:uppercase;letter-spacing:4px;" align='center')
                            a(href='https://myelamant.com/' target='_blank')
                              img(src='https://mcusercontent.com/c319174c150aaffcb8f028843/images/d830ea79-ce1d-4fe3-b700-40b428ae024c.png' alt='text' width='140')
                    table.show-desktop-inner(width='240' cellspacing='0' cellpadding='0' border='0' bgcolor='#171414' align='center')
                      tbody
                        tr
                          td(style='color:#1B1C1A;font-size:18px;padding-top:20px;line-height:120%;padding-bottom:50px;' valign='middle' align='center')
                            a(href='https://www.facebook.com/OfficialElamant/' target='_blank')
                              img(src='https://mcusercontent.com/c319174c150aaffcb8f028843/images/3fbc8432-2fa0-4200-86be-2629f5c22dfd.png' alt='facebook' width='40')
                          td(style='color:#1B1C1A;font-size:18px;padding-top:20px;line-height:120%;padding-bottom:50px;' valign='middle' align='center')
                            a(href='https://twitter.com/MyElamant' target='_blank')
                              img(src='https://mcusercontent.com/c319174c150aaffcb8f028843/images/87effb46-c4b3-496c-84c7-f774e29de559.png' alt='twitter' width='40')
                          td(style='color:#1B1C1A;font-size:18px;padding-top:18px;line-height:120%;padding-bottom:50px;' valign='middle' align='center')
                            a(href='https://www.instagram.com/' target='_blank')
                              img(src='https://mcusercontent.com/c319174c150aaffcb8f028843/images/2879d38b-cc3d-436c-b3d1-a8accc4ececd.png' alt='instagram' width='40')
                          td(style='color:#1B1C1A;font-size:18px;padding-top:20px;line-height:120%;padding-bottom:50px;' valign='middle' align='center')
                            a(href='https://www.pinterest.ph/officialelamant/_saved/' target='_blank')
                              img(src='https://mcusercontent.com/c319174c150aaffcb8f028843/images/af1d3597-992b-4842-ad6f-7e93f4b28b6b.png' alt='Pinterest' width='40')
                          td(style='color:#1B1C1A;font-size:18px;padding-top:20px;line-height:120%;padding-bottom:50px;' valign='middle' align='center')
                            a(href='http://twitter.com' target='_blank')
                              img(src='https://mcusercontent.com/c319174c150aaffcb8f028843/images/f93c4fca-b858-4b8a-ba2c-90b3baffabe8.png' alt='twitter' width='38')
        tr
          td(align='center')
            table.show-desktop(width='600' cellspacing='0' cellpadding='0' border='0' bgcolor='#171414' align='center')
              tbody
                tr
                  td(align='center')
                    table.show-desktop-inner(width='370' cellspacing='0' cellpadding='0' border='0' align='center')
                      tbody
                        tr
                          td(style="font-family:Inter, 'Helvetica Neue', Helvetica, Arial, sans-serif;color:#DCD2D2;opacity:.5;font-size:10px;letter-spacing:1px;padding-bottom:30px;line-height:160%;font-weight:400;" align='center')
                            | Elamant and all associated logos and designs are trademarks of and licensed by Elamant, LLC. © #{moment().format('YYYY')}
                        tr
                          td(style="font-family:Inter, 'Helvetica Neue', Helvetica, Arial, sans-serif;color:#DCD2D2;opacity:.5;font-size:10px;letter-spacing:1px;padding-bottom:40px;line-height:160%;font-weight:400;" align='center')
                            | All Rights Reserved. Any unauthorized use or republication is strictly prohibited.
